@charset "utf-8";

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#cen{
    text-align: center;
    padding: 10px;
    border: 1px solid black;
    width: 1200px;
    height: 800px;
    position: absolute; 
    top: 50%;
    left: 50%; 
    transform: translate(-50%,-50%);
}

.box1{
    margin: auto;
    width: 100px;
    height: 100px;
    border: 1px solid red;
}

#box3{
    margin: auto;
    width: 100px;
    height: 100px;
    border: 2px solid rgb(48, 165, 110);
}

#accordian{
    width: 500px;
    margin: auto;
}

.item{
    border: 1px solid #aaa;
    border-bottom: none;
}

.item:first-of-type{
    border-radius: 8px 8px 0 0;
}

.item:first-of-type .item_title{
    border-radius: 7px 7px 0 0;
}

.item:last-of-type .item_cont{
    border-radius: 0 0 7px 7px;
}

.item:last-of-type{
    border-radius: 0 0 8px 8px;
    border: 1px solid #aaa;
}

.item_title{
    padding: 0.8em 1em;
}

.active .item_title {
    background-color: rgb(127, 161, 255);
}

.caret{
    display: inline-block;
    width: 12px;
    height: 12px;
    border-right: 2px solid #aaa;
    border-bottom: 2px solid #aaa;
    transform: rotate(45deg);
    float: right;
    margin-top: 2px;
}

.item_cont{
    border-top: 1px solid #aaa;
    padding: 1em;
    background-color: aliceblue;
    display: none;
}
















